:root {
  line-height: 1.5;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  box-sizing: border-box;
  --main-text-dark: rgb(18, 0, 51);
  --main-text-light: rgb(100, 71, 233);
  --sec-text-dark: rgb(88, 0, 53);
  --sec-text-light: rgb(255, 43, 202);
  --default-white: rgb(243, 246, 255);
  --default-white-transparent: rgba(243, 246, 255, 0.5);
  --highlight: rgb(255, 177, 88);
  --border-radius: 15px;
  --border-size: 2.5px;
  --box-shadow: 0 10px 10px;
  --box-highlight: 10px 0 10px;
  --transparent-glass: rgba(255, 255, 255, 0.8);
}
/* resets: */
body,
h1,
h2,
h3,
h4,
h5,
p,
div,
span,
li,
ul,
ol,
a,
button,
header,
main,
footer,
input {
  padding: 0;
  margin: 0;
}
li,
ul,
ol {
  list-style: none;
}
input,
button,
form {
  font-family: inherit;
}
a {
  text-shadow: none;
}
a[target="_blank"]::after {
    position: absolute;
    margin-left: 2px;
    display: inline-block;
    width: 15px;
    height: 15px;
    content: "";
    mask: url(./../imgs/up-right-from-square-solid-full.svg);
    mask-size: cover;
  }
a:link {
  color: var(--main-text-light);
  text-decoration: none;
    &::after {
      background: var(--main-text-light);
    }
    &:hover {
      text-decoration: underline;
    }
}
a:visited {
      color: var(--sec-text-light);
      &::after {
        background: var(--sec-text-light)
      }
    }

body {
  /* background gradient */
  background: linear-gradient(184deg,rgb(212, 134, 173) 0%, rgb(128, 174, 226)); 
  transition-duration: 1s;
  background-repeat: no-repeat;
  background-size: 200%;
  min-height: min(100dvh, 150dvh);

}
body.day {
  backdrop-filter: hue-rotate(290deg) brightness(0.87) contrast(130%);
  transition-duration: 1s;
}
body.night {
  backdrop-filter: hue-rotate(-50deg) brightness(0.4) contrast(180%);
  transition-duration: 1s;
}

.wrapper {
  padding: 2rem;
  display: grid;
  gap: 2rem;
  padding-top: 5rem;
}
header, main, footer, h1 {
  background: rgba(255, 255, 255, 0.205);
  backdrop-filter: blur(4.2px);
  place-self: center;
  padding: 1.5rem;
  border-radius: var(--border-radius);
  width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-shadow: rgba(29, 0, 46, 0.548) 1px 1px 10px;
  color: var(--default-white);
  border: var(--default-white-transparent) 2px solid;
  box-shadow: 0 0.4rem, 30px rgba(0, 0, 0, 0.5); 
}
main {
  min-height: 260px;
}
footer {
  font-size: 14px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > ul {
    display: flex;
    gap: 2rem;
  }
}
input {
      font-size: 15px;
      height: 1.8rem;
      padding: 0.4rem;
      border-radius: var(--border-radius);
      color: rgb(255, 255, 255);
      text-shadow: rgba(41, 41, 41, 0.493) 2px 2px 3px;
      box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px;
      background: rgba(190, 190, 190, 0.192);
      border: rgba(255, 255, 255, 0.281) 2px solid;
      outline: none;
      transition-duration: 250ms;
      &:focus {
        background: rgba(190, 120, 255, 0.26);
      }
}
button {
  font-size: 14px;
  padding: 0.4rem;
  border-radius: var(--border-radius);
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px;
  border: none;
  background: rgba(255, 255, 255, 0.8);
  border-top: rgba(255, 255, 255, 0.6) 1px solid;
  border-bottom: rgba(0, 0, 0, 0.6) 1px solid;
  backdrop-filter: blur(4.2px);
    &:hover {
      background: rgba(240, 220, 240, 0.8)
    }
    &:active {
      background: rgba(190, 220, 240, 0.97);
      box-shadow: inset rgba(0, 0, 0, 0.4) 0 1px 5px;
    }
}
.search-area {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  justify-content: space-around;
}
.information {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  justify-content: space-between;
}
.switch-container {
  width: 10rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 0.2rem;
  place-self: center;
  grid-row: 1;
}
 .switch {
  background: var(--transparent-glass);
  box-shadow: rgba(0, 0, 0, 0.2) 0 2px 4px;
  width: 50px;
  height: 25px;
  border-radius: 50px;
  cursor: pointer;
  position: relative;
  transition: 0.2s;
    &::before {
      position: absolute;
      content: "";
      background: rgb(90, 90, 141);
      height: 20px;
      width: 20px;
      border-radius: 50px;
      margin: 1.5px;
      transition: 0.2s;
    }
}
input[type="checkbox"] {
  opacity: 0;
}
.switch:has(input:checked)::before {
  transform: translateX(26px);
}
.switch:has(input:focus) {
  border: red 2px solid;
  
}
h1, header, main, footer {
  transition-duration: 250ms;
  &:hover {
        background: rgba(211, 115, 255, 0.384);
      }
}
 fieldset {
    width: 22rem;
  }

@media (max-width: 500px) {
  body {
    max-width: 100vh;
    max-height: max(100vh, 120vh);
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }
  header, main, footer, h1 {
    width: 22rem;
    padding: 1rem;
  }
   fieldset {
    width: 20rem;
    > .switch-container {
      display: flex;
      flex-direction: row;
      align-items: start;
    }
  }
  header {
    .search-area {
      gap: 0.4rem;
    }
    button {
      font-size: 1rem;
      padding: 0.5rem;
    }
    label {
      font-size: 1rem;
    }
    input {
      font-size: 1.15rem;
      height: 2.1rem;
    }
  }
  .temp-unit-switch {
    font-size: 1.2rem;
    place-self: center;
    height: 65px;
    .switch {
      height: 32px;
      width: 60px;
      &::before {
        width: 30px;
        height: 30px;
        margin: 1px;
      }
    }
  }
  input:checked + .switch::before {
  transform: translateX(29px);
}
  main {
    font-size: 1.22rem;
    height: 23rem;
  }
  footer {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  body {
    max-width: 100vh;
    max-height: 139vh;
  }
  fieldset {
    max-width: 16rem;
    > .switch-container {
      display: flex;
      flex-direction: row;
      align-items: start;
    }
  }
   header, main, footer, h1 {
    width: min(19.8rem, 22rem);
    margin: 0 1rem 0 1rem;
    padding: 1rem;
  }
  header, main, footer {
    font-size: 1rem;
  }
  header {
    .search-area {
      gap: 0.4rem;
    }
    button {
      font-size: 1rem;
      padding: 0.5rem;
    }
    label {
      font-size: 1rem;
    }
    input {
      font-size: 1rem;
      height: 2rem;
    }
  }
}